doctype html
html
    head
        base(href='/')
        title Angular Tour of Heroes
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        my-app Loading...